@using GameShopModel.Entities;

@model GameProduct
<div class="container py-5">
    <div class="row">
        <div class="col-lg-6">
            <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var imageUrl in Model.ImagesUrl)
                    {
                        <div class="carousel-item active">
                            <img src="@imageUrl.Url" class="d-block w-100" alt="@Model.Title" />
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="fw-bold">@Model.Title</h2>
            @foreach (var iten in Model.Genre)
            {
                <p class="text-muted">Product Category</p>
            }
            <h3 class="my-4">@Model.Price ₽</h3>
            <p class="mb-4">
                @Model.Description
            </p>
            <div class="d-flex gap-3 mb-4">
                <button class="btn btn-success" type="button">Добавить в корзину</button>
            </div>
            <div>
                <button class="btn btn-primary" type="button">
                    Добавить в список желаемого
                </button>
            </div>
        </div>
    </div>
</div>