@using GameShop.Extensions
@using GameShopModel.Entities

@model List<GameProduct>

<div class="container mt-5">
    <div class="row row-cols-4">
        @foreach (var gameProduct in Model)
        {
            <div class="card" style="width: 18rem;">
                <a asp-controller="Game" asp-action="Details" asp-route-id="@gameProduct.Id" style="text-decoration: inherit; color: inherit">
                    <img src="@gameProduct.PresentationImageUrl" class="card-img-top" alt="@gameProduct.Title">
                    <div class="card-body">
                        <h5 class="card-title">@gameProduct.Title</h5>
                        <p class="card-text">@gameProduct.Description.Truncate(60)...</p>
                        <p class="card-text">@gameProduct.Price ₽</p>
                        <a asp-controller="Game" asp-action="Details" asp-route-id="@gameProduct.Id" class="btn btn-primary mt-2">Купить</a>
                    </div>
                </a>
            </div>
        }
    </div>
</div>